/* -------------------- Section explication ----------------- */

#explication 
{
    color: #514640;
    position: relative;
    margin-top: 1%;
    height: 50%;
}

.container img 
{
    margin-left: 10%;
    width: 80%;
    height: 70%;
}

#explication h2 
{
    text-align: center;
    font-size: 30px;
    color: #514640;
    margin: 0;
    padding-top: 30px;
}

#explication h3 
{
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #003366;
    border: solid 1px 6px 1px 5px #B0C4DE;
}

.etape:first-of-type 
{
    display: flex;
}

.etape 
{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 120px;
    text-align: center;
}

.etape div 
{
    padding: 20px;
}

@media screen and (max-width: 700px) 
{
    .etape 
    {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 380px) 
{
    .etape img 
    {
        max-width: 150px;
    }
}

.etape,
.info-station,
.station-nom,
.station-adresse,
.disponibilite-velo,
.reservation-bouton,
.reservation 
{
    animation: diaporama 2s;
    -webkit-animation-name: diaporama 2s;
}

@-webkit-keyframes diaporama 
{
    from 
    {
        opacity: 0
    }
    to 
    {
        opacity: 1
    }
}

@keyframes diaporama 
{
    from 
    {
        opacity: 0
    }
    to 
    {
        opacity: 1
    }
}

#explication button 
{
    background-color: #003366;
    border: solid 1px #B0C4DE;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 2px;
}

#explication button:hover 
{
    background-color: #B0C4DE;
    border: solid 1px #003366;
    cursor: pointer;
}

.prev
{
    position: absolute;
    top: 60%;
    left: 2.5%
}

.next 
{
    position: absolute;
    right: 2.5%;
    top: 60%;
}