html, body
{
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}


/* ------------------- Section Header --------------------- */

header {
    height: 100px;
    background-color: #003366;
    border-bottom: solid 5px #B0C4DE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Times', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;

}

header img
{
    height: 30px;
    margin: 10px;
}